page-adminhome {
    // #menutog
    // {
    //     display: block !important;
    // }
    .grad1 {      
        border-radius: 8px; 
        box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.40);
        background: linear-gradient(9deg, rgba(3,3,56,1) 0%, rgba(181,151,2,1) 100%) !important;      
      }
    .grad-head1{
      color: aliceblue !important; 
    }
    .grad2 {      
        border-radius: 8px; 
        box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.40);;       
       background: linear-gradient(9deg, rgba(3,3,56,1) 0%, rgba(23,112,9,1) 100%) !important;
      }
    .grad-head2{
        color: aliceblue !important; 
      }
    .grad3 {      
        border-radius: 8px; 
        box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.40);
        background: linear-gradient(9deg, rgba(3,3,56,1) 0%, rgba(105,75,112,1) 100%) !important;      
      }
    .grad-head3{
        color: aliceblue !important; 
      }
    .grad4 {      
        border-radius: 8px; 
        box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.40);
        background: linear-gradient(9deg, rgba(3,3,56,1) 0%, rgba(112,0,0,1) 100%) !important;      
      }
    .grad-head4{
        color: aliceblue !important; 
      }
      .grad5 {      
        border-radius: 8px; 
        box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.40);
        background: linear-gradient(9deg, rgba(3,3,56,1) 0%, rgb(19, 173, 166) 100%) !important;      
      }
    .grad-head5{
        color: aliceblue !important; 
      }

      ion-card-content > a {
        color: rgb(255, 255, 255) !important;
      }    
      .footer-button{
        font-size: 14px !important;
        font-weight: 30 !important;
      }  
}
